@font-face {
    font-family: 'Conv_DinDan_light';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.eot?v=4409842501536506684);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.woff?v=10331324658316079664) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.ttf?v=6769572477753268903) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.svg?v=3686058442348332622) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Conv_DinDan_Bold';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.eot?v=14058020777788244209);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.woff?v=10850239138808651831) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.ttf?v=4627982534416081941) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.svg?v=11775473326942160775) format("svg");
    font-weight: 700;
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Conv_DinDan';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.eot?v=4409842501536506684);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.woff?v=10331324658316079664) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.ttf?v=6769572477753268903) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.svg?v=3686058442348332622) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}
.flex {

    display: flex;
    height: auto;
}
.flex img {
	width: 985px;
	float: right;
}
.flex .left-box, .flex .right-box {
    width: 1000px;
}
.flex .right-box, .flex .left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.imgre{
    position: relative; 
}
.zoom {
    transition: transform .2s;
    
  }
  
.zoom:hover {
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1); 
  }


.col-12 {
	border: 2px solid #666;
	height: 700px;
}

.row2  {
	position: relative;
	text-align: center;
	color: white;
  }
  
  
  .top-left {
	position: absolute;
	top: 60px;
	left: 80px;
	font-size: 40px;
  }


.image-blocks__title {
    margin: 0;
	line-height: 1.2;
}
 .footerwrap {
    width: 545px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 30px;
	overflow: hidden;

}
.h2{
	text-align: center;
}
.wrap {
    position: relative;
    overflow: hidden;
}
 .textleft {
	width:50%;
	height:50vh;
	content:"";
	background: gray;
	display:inline-block;
	
  }


.small-down--text-center {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    max-width: 1120px;
}

.title{
	text-align: left !important;
}


.top{
	margin: 0;
	box-sizing: content-box;
	width: 100%;
	height: 300px;
  	background-image: url("img/bg-banner-gq-size-landing.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
	z-index: 10;
	font-size: 40px;
	color: white;
	font-weight: bold;
	padding-top: 15%; 
}

.text-left {
    text-align: left !important;
}

.mid{
	padding-top: 30px;
    padding-bottom: 30px;
}

.mid2 {
	max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}


.mar{
	margin-top: 12rem;
	text-align: center;
}


.rte{
	margin-bottom: 10px;
}


 h1{
	color: #fff;
	font-size: 2em;
	font-family: "Conv_DinDan";
	font-weight: 700;
	font-style: normal;
	margin: 0 0 0.75em;
    line-height: 1.4;
}
h6{
	font-size: 1.14286em;
	text-align: left;
}


p {
    font-size: 16px;
	margin: 0 0 15px 0;
	text-align: center;
}

.text-center {
	text-align: center !important;

}



  

.col-12 {
	border: none;
	height: 700px;
}

.button2 {
	border-radius: 1px;
	background-color: #1fa652;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 0px;
	width: 180px;
	height: 50px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button2 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button2 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button2:hover span {
	padding-right: 25px;
  }
  
  .button2:hover span:after {
	opacity: 1;
	right: 0;
  }

  .slick-dots {
	position: absolute;
	display: flex;
	justify-content: center;
	right: 76%;
	bottom: 30px;
	margin: 0;
	padding: 1rem 0;
	z-index: 100;
	list-style-type: none;
}

.slick-dots  li {
	margin: 0 0.25rem;
}

.slick-dots li.slick-active button {
	background-color: #ff0000;
}

.slick-dots button{
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	padding: 0;
	border: none;
	border-radius: 100%;
	text-indent: -9999px;
	
}
/**************************************************************/

.button3 {
	border-radius: 1px;
	background-color: #1fa652;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 0px;
	width: 120px;
	height: 50px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 7px;
  }
  
  .button3 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button3 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button3:hover span {
	padding-right: 25px;
  }
  
  .button3:hover span:after {
	opacity: 1;
	right: 0;
  }
  .top2{
	margin: 0;
	box-sizing: content-box;
	width: 100%;
	height: 300px;
  	background-image: url("img/new-adjust-banner.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
	z-index: 10;
	font-size: 40px;
	color: white;
	font-weight: bold;
	padding-top: 15%; 
}
.img--text-center {
	position: absolute;
	width: 40px;
	top: 210px;
    left: 0px;
    right: 1070px;
    margin: 0 auto;
    z-index: 0;
    max-width: 1120px;
}
.fonth{
	font-size: 40px;
}
.fontm{
	font-size: 30px;
}
.imgcenter {
	display: block;
    position: relative;
    background-size: cover;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }
.imgwrap{
	margin: 0 60px;
    margin-top: -60px;
    padding: 30px 60px;
}
.img1{
	position:relative;
}
.img2 {
    position: absolute;
    left: 550px;
    top: 1150px;
}
.marginbo{
	margin-bottom: 400px;
}
.img3 {
    position: absolute;
    left: 550px;
    top: 2000px;
}
.img4 {
    position: absolute;
    left: 550px;
    top: 2850px;
}
.img5 {
    position: absolute;
    left: 550px;
    top: 3750px;
}
.img6 {
    position: absolute;
    left: 550px;
    top: 4600px;
}
.font5{
	font-size: 28px;
}
.icon1{
	
	position: absolute;
    left: 460px;
    top: 5200px;
}
.icon2{
	
	position: absolute;
	left: 680px;
    top: 5200px;
}
.icon3{
	
	position: absolute;
	left: 910px;
    top: 5200px;
}
.icon4{
	
	position: absolute;
	left: 1150px;
    top: 5200px;
}
.icon5{
	
	position: absolute;
	left: 1400px;
    top: 5200px;
}
.svg2{
	width: 3vw;
	height: 3vh;
	position: absolute;
	left: 1080px;
	top: 5400px;
}
.size1{
	position: absolute;
	left: 460px;
	top: 5290px;
	font-size: 15px;
}
.size2{
	position: absolute;
	left: 680px;
	top: 5290px;
	font-size: 15px;
}
.size3{
	position: absolute;
	left: 890px;
	top: 5290px;
	font-size: 15px;
}
.size4{
	position: absolute;
	left: 1140px;
	top: 5290px;
	font-size: 15px;
}
.size5{
	position: absolute;
	left: 1390px;
	top: 5290px;
	font-size: 15px;
}
.price1{
	position: absolute;
	left: 710px;
	top: 5940px;
	font-size: 17px;
}
.price11{
	position: absolute;
	left: 660px;
	top: 5960px;
	font-size: 35px;
}
.price2{
	position: absolute;
	left: 1110px;
	top: 5940px;
	font-size: 17px;
	color: red;
}
.price22{
	position: absolute;
	left: 1070px;
	top: 5960px;
	font-size: 35px;
	color: red;
}
.svg3{
	width: 5%;
	position: absolute;
	left: 900px;
	top: 5960px;
}
.buttoncenter {
	display: block;
    position: relative;
    background-size: cover;
	margin-left: auto;
	margin-right: auto;

  }
  
.title, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .password__hero {
    font-family: "Conv_DinDan";
    font-weight: 700;
    font-style: normal;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0 0 0.75em;
    line-height: 1.4;
}


body, input, textarea, button, select {
    font-size: 14px;
    line-height: 1.6;
    font-family: "Conv_DinDan";
    color: #000;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    
}
.site-footer {
    position: relative;
}
.footer__cta {
    position: relative;
    padding: 0;
}
.footer__cta .footer__cta__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer__cta .footer__cta__wrap, .footer__cta .footer__cta__body {
    position: relative;
}
.footer__cta .footer__cta__wrap {
    width: 545px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    overflow: hidden;
}
.footer__cta .footer__cta__body {
    padding: 30px 0;
    overflow: hidden;
}
.footer__cta .footer__cta__subtitle {
    margin-bottom: 0;
}
.footer__cta .footer__cta__title {
    margin-bottom: 10px;
}
.footer__primary {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #ededed;
    color: #000;
}
ul, ol {
    margin: 0 0 30px;
    padding: 0;
}
.footer__primary a {
    color: #000;
}
.social-icon-line svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 5px
}
.social-icons li {
    margin: 0 7.5px;
    vertical-align: middle;
}
.social-icons li svg {
    width: 30px;
    height: 30px;
}
.lili {
    display: inline-block;
    margin-bottom: 0;
}
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.icon-svg {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.social-icons {
    margin: -7.5px;
}
.site-footer {
    position: relative;
}
.footer__secondary {
    padding-top: 30px;
    padding-bottom: 90px;
    background-color: #fff;
    text-align: center;
}
.footer__secondary .footer__copyright__logo {
    margin-right: 15px;
}
.wrapperjim{
    text-align: center;
    width: 50px;
    height: auto;
}
.footer_black{
    color:black; 
    text-decoration:underline;
}

a {
    text-decoration: none !important;
}

.nav-info-bar {
    color: white;
    background-color: #000;
}

.nav-info-bar-body {
    min-height: 30px;
}

.nav-info-bar-body a {
    font-family: "Conv_DinDan";
    font-weight: 700;
    font-size: 14px;
}

.nav-info-bar-body a:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    text-decoration: underline !important;
}

.nav-show-desktop-header {
    z-index: 700;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav-show-desktop-header .nav-wrapper {
    max-width: 100%;
}

.nav-show-desktop-header .nav-header-desktop {
    position: static;
}

.nav-header-desktop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-header-desktop .nav-header-menu {
    text-align: right;
}

.nav-header-main-menu {
    margin: 0px 0px;
    padding: 0;
}

.nav-header-main-menu li {
    list-style-type: none;
}

.nav-header-main-menu li a {
    font-family: "Conv_DinDan_Bold";
    font-size: 14px;
    color: #000;
}

.nav-header-main-menu li a:hover {
    font-family: "Conv_DinDan_Bold";
    font-size: 14px;
    color: #1fa625;
}

.nav-header-main-menu .nav-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.nav-logo-wrapper {
    margin-right: 15px;
}

.nav-header-logo {
    margin: 0;
    text-align: left;
}

.nav-header-logo svg {
    display: block;
    width: 80px;
    height: auto;
}

.nav-icon {
    display: inline-block;
    vertical-align: middle;
}

.nav-item .nav-icon-search {
    width: 18px;
    height: auto;
}

.nav-item .nav-icon-trucking {
    width: 35px;
    height: auto;
}

.nav-item .nav-icon-cart {
    width: 24px;
    height: auto;
}

.nav-icon-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.nav-item-wrap {
    padding: 24px 14.5px;
}

.nav-utility-menu .nav-item {
    position: relative;
    height: 35px;
    vertical-align: middle;
}

.nav-utility-menu .nav-item-wrap {
    padding: 3px 14.5px 0px 14.5px;
}

.nav-utility-menu .nav-item+.nav-item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: #ddd;
}

.lang a {
    font-size: 13px;
    font-family: 'Conv_DinDan';
    color: #000;
}

.lang a:hover {
    font-size: 13px;
    font-family: 'Conv_DinDan';
    color: #000;
}

.breadcrumb {
    max-width: 1180px;
    margin-bottom: 30px;
    margin-top: -30px;
    margin: 0 auto;
    padding: 10px 30px !important;
    font-size: 11.2px;
    font-family: 'Conv_DinDan';
    background-color: #fff !important;
}

.breadcrumb li a {
    color: #000;
}

.breadcrumb li a:hover {
    text-decoration: underline !important;
}

.breadcrumb li {
    margin-bottom: 0.45em;
}

.breadcrumb li a {
    color: #000;
}

.breadcrumb li a:hover {
    text-decoration: underline !important;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 5px !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .2rem !important;
    color: #6c757d;
    content: "/";
}

.nav-dropdown {
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 5000;
    padding: 0px 30px 22.5px 30px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    left: 0;
    right: 0;
    margin: 0;
    margin-top: 24px;
}

.drop-down:hover .nav-dropdown {
    visibility: visible;

}

.nav-link-bg {
    padding-bottom: 120%;
    background-size: cover;
    background-position: center;
}

.nav-item-dropdown-25 {
    width: 25%;
    padding: 0 10px;
    font-size: 14px;
}

.nav-item-dropdown-20 {
    width: 20%;
    padding: 0 10px;
    font-size: 14px;
}

.nav-item-dropdown-16 {
    width: 16.666666667%;
    padding: 0 10px;
    font-size: 14px;
}

.nav-dropdrown-list {
    display: block;
    width: 920px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.nav-link {
    margin-top: 10px;
    text-align: center;
    padding: 0 !important;
}

.nav-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-wrapper::after {
    content: '';
    display: table;
    clear: both;
}

.fixedElement {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.mobile-container {
    max-width: auto;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

@media only screen and (min-width: 480px) {
    .nav-wrapper {
        padding: 0 30px !important;
    }
}

/* 
@media only screen and (max-width: 1376px) {
    .nav-show-desktop-header {
        display: none;
    }
}

@media only screen and (min-width: 1375px) {
    .nav-show-moblie-header {
        display: none !important;
    } */
/* } */