@font-face {
    font-family: 'Conv_DinDan_light';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.eot?v=4409842501536506684);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.woff?v=10331324658316079664) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.ttf?v=6769572477753268903) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.svg?v=3686058442348332622) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Conv_DinDan_Bold';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.eot?v=14058020777788244209);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.woff?v=10850239138808651831) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.ttf?v=4627982534416081941) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.svg?v=11775473326942160775) format("svg");
    font-weight: 700;
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Conv_DinDan';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.eot?v=4409842501536506684);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.woff?v=10331324658316079664) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.ttf?v=6769572477753268903) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.svg?v=3686058442348332622) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}
.flex {

    display: flex;
    height: auto;
}
.flex img {
	width: 985px;
	float: right;
}
.flex .left-box, .flex .right-box {
    width: 1000px;
}
.flex .right-box, .flex .left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}


.zoom {
	transition: transform .2s;
  }
  
.zoom:hover {
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1); 
  }


.col-12 {
	border: 2px solid #666;
	height: 700px;
}

.row2  {
	position: relative;
	text-align: center;
	color: white;
  }
  
  
  .top-left {
	position: absolute;
	top: 60px;
	left: 80px;
	font-size: 40px;
  }


.image-blocks__title {
    margin: 0;
	line-height: 1.2;
}
 .footerwrap {
    width: 545px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 30px;
	overflow: hidden;

}
.h2{
	text-align: center;
}
.wrap {
    position: relative;
    overflow: hidden;
}
 .textleft {
	width:50%;
	height:50vh;
	content:"";
	background: gray;
	display:inline-block;
	
  }


.small-down--text-center {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    max-width: 1120px;
}

.title{
	text-align: left !important;
}

.top{
	margin: 0;
	box-sizing: content-box;
	width: 100%;
	height: 300px;
  	background-image: url("bg-banner-gq-size-landing.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
	z-index: 10;
	font-size: 40px;
	color: white;
	font-weight: bold;
	padding-top: 15%; 
}

.text-left {
    text-align: left !important;
}

.mid{
	padding-top: 30px;
    padding-bottom: 30px;
}

.mid2 {
	max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}


.mar{
	margin-top: 12rem;
	text-align: center;
}


.rte{
	margin-bottom: 10px;
}


 h1{
	color: #fff;
	font-size: 2em;
	font-family: "Conv_DinDan";
	font-weight: 700;
	font-style: normal;
	margin: 0 0 0.75em;
    line-height: 1.4;
}
h6{
	font-size: 1.14286em;
	text-align: left;
}


p {
    font-size: 16px;
	margin: 0 0 15px 0;
	text-align: center;
}

.text-center {
	text-align: center !important;

}



  

.col-12 {
	border: none;
	height: 700px;
}

.button2 {
	border-radius: 1px;
	background-color: #1fa652;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 0px;
	width: 180px;
	height: 50px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button2 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button2 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button2:hover span {
	padding-right: 25px;
  }
  
  .button2:hover span:after {
	opacity: 1;
	right: 0;
  }

  .slick-dots {
	position: absolute;
	display: flex;
	justify-content: center;
	right: 76%;
	bottom: 30px;
	margin: 0;
	padding: 1rem 0;
	z-index: 100;
	list-style-type: none;
}

.slick-dots  li {
	margin: 0 0.25rem;
}

.slick-dots li.slick-active button {
	background-color: #ff0000;
}

.slick-dots button{
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	padding: 0;
	border: none;
	border-radius: 100%;
	text-indent: -9999px;
	
}
