
@font-face {
    font-family: 'Conv_DinDan_light';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.eot?v=4409842501536506684);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.woff?v=10331324658316079664) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.ttf?v=6769572477753268903) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.svg?v=3686058442348332622) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Conv_DinDan_Bold';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.eot?v=14058020777788244209);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.woff?v=10850239138808651831) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.ttf?v=4627982534416081941) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.svg?v=11775473326942160775) format("svg");
    font-weight: 700;
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Conv_DinDan';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.eot?v=4409842501536506684);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.woff?v=10331324658316079664) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.ttf?v=6769572477753268903) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.svg?v=3686058442348332622) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}
#gray{
    color: #666;
    font-size: 15px;
    font-family: "Conv_DinDan";
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.5px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
    margin: 0 0 15px 0;
    font-family: "Conv_DinDan";
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.5px;

}
h1, .h1 {
    font-size: 1.7em;
    font-family: 'Conv_DinDan_Bold';
}
a:hover {
    color: rgb(58, 58, 58);
    background-color: transparent;
   
  }
  a:hover {
    text-decoration: none;
    text-decoration: underline;
    color: #000;
  }
  a{
    color: #000;
    text-decoration: underline;
    background: transparent;
  }
  #jumbo{
    background-color: #f7f7f7;
  }
/* @media only screen and (max-width: 479px){
h1, .h1 {
    font-size: 0.97143em;
}
} */
textarea{  
    /* box-sizing: padding-box; */
    overflow:hidden;
    /* demo only: */
    padding:10px;
    width:250px;
    font-size:14px;
    margin:50px auto;
    display:block;
    border-radius:10px;
  
  }
  .button { 
    
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Conv_DinDan_Bold';
  }