@font-face {
    font-family: 'Conv_DinDan_light';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.eot?v=4409842501536506684);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.woff?v=10331324658316079664) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.ttf?v=6769572477753268903) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Light.svg?v=3686058442348332622) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conv_DinDan_Bold';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.eot?v=14058020777788244209);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.woff?v=10850239138808651831) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.ttf?v=4627982534416081941) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Bold.svg?v=11775473326942160775) format("svg");
    font-weight: 700;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Conv_DinDan';
    src: url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.eot?v=4409842501536506684);
    src: local("Conv_DinDan"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.woff?v=10331324658316079664) format("woff"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.ttf?v=6769572477753268903) format("truetype"), url(//cdn.shopify.com/s/files/1/0439/3192/6691/t/10/assets/font-DinDan-Regular.svg?v=3686058442348332622) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none !important;
}

.nav-info-bar {
    color: white;
    background-color: #000;
}

.nav-info-bar-body {
    min-height: 30px;
}

.nav-info-bar-body a {
    font-family: "Conv_DinDan";
    font-weight: 700;
    font-size: 14px;
}

.nav-info-bar-body a:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    text-decoration: underline !important;
}

.nav-show-desktop-header {
    z-index: 700;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav-show-desktop-header .nav-wrapper {
    max-width: 100%;
}

.nav-show-desktop-header .nav-header-desktop {
    position: static;
}

.nav-header-desktop {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-header-desktop .nav-header-menu {
    text-align: right;
}

.nav-header-main-menu {
    margin: 0px 0px;
    padding: 0;
}

.nav-header-main-menu li {
    list-style-type: none;
}

.nav-header-main-menu li a {
    font-family: "Conv_DinDan_Bold";
    font-size: 14px;
    color: #000;
}

.nav-header-main-menu li a:hover {
    font-family: "Conv_DinDan_Bold";
    font-size: 14px;
    color: #1fa625;
}

.nav-header-main-menu .nav-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.nav-logo-wrapper {
    margin-right: 15px;
}

.nav-header-logo {
    margin: 0;
    text-align: left;
}

.nav-header-logo svg {
    display: block;
    width: 80px;
    height: auto;
}

.nav-icon {
    display: inline-block;
    vertical-align: middle;
}

.nav-item .nav-icon-search {
    width: 18px;
    height: auto;
}

.nav-item .nav-icon-trucking {
    width: 35px;
    height: auto;
}

.nav-item .nav-icon-cart {
    width: 24px;
    height: auto;
}

.nav-icon-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.nav-item-wrap {
    padding: 24px 14.5px;
}

.nav-utility-menu .nav-item {
    position: relative;
    height: 35px;
    vertical-align: middle;
}

.nav-utility-menu .nav-item-wrap {
    padding: 3px 14.5px 0px 14.5px;
}

.nav-utility-menu .nav-item+.nav-item::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    top: 0;
    left: 0;
    background-color: #ddd;
}

.lang a {
    font-size: 13px;
    font-family: 'Conv_DinDan';
    color: #000;
}

.lang a:hover {
    font-size: 13px;
    font-family: 'Conv_DinDan';
    color: #000;
}

.breadcrumb {
    max-width: 1180px;
    margin-bottom: 30px;
    margin-top: -30px;
    margin: 0 auto;
    padding: 10px 30px !important;
    font-size: 11.2px;
    font-family: 'Conv_DinDan';
    background-color: #fff !important;
}

.breadcrumb li a {
    color: #000;
}

.breadcrumb li a:hover {
    text-decoration: underline !important;
}

.breadcrumb li {
    margin-bottom: 0.45em;
}

.breadcrumb li a {
    color: #000;
}

.breadcrumb li a:hover {
    text-decoration: underline !important;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 5px !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .2rem !important;
    color: #6c757d;
    content: "/";
}

.nav-dropdown {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 5000;
    padding: 0px 30px 22.5px 30px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    margin-top: 24px;
}

.drop-down:hover .nav-dropdown {
    /* display: block; */
    opacity: 1;
    visibility: visible;

}

.nav-link-bg {
    padding-bottom: 120%;
    background-size: cover;
    background-position: center;
}

.nav-item-dropdown-33 {
    width: 33.33337%;
    padding: 0 10px;
    font-size: 14px;
}

.nav-item-dropdown-25 {
    width: 25%;
    padding: 0 10px;
    font-size: 14px;
}

.nav-item-dropdown-20 {
    width: 20%;
    padding: 0 10px;
    font-size: 14px;
}

.nav-item-dropdown-16 {
    width: 16.666666667%;
    padding: 0 10px;
    font-size: 14px;
}

.nav-dropdrown-list {
    display: block;
    width: 920px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.nav-link {
    margin-top: 10px;
    text-align: center;
    padding: 0 !important;
}

.nav-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-wrapper::after {
    content: '';
    display: table;
    clear: both;
}

.fixedElement {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.mobile-container {
    max-width: auto;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

@media only screen and (min-width: 480px) {
    .nav-wrapper {
        padding: 0 30px !important;
    }
}

/* 
@media only screen and (max-width: 1376px) {
    .nav-show-desktop-header {
        display: none;
    }
}

@media only screen and (min-width: 1375px) {
    .nav-show-moblie-header {
        display: none !important;
    } */
/* } */